.single-data img{
    margin-top: 40px;
    /* float: left; */
    width:  400px;
    height: 400px;
    /* object-fit: cover; */
    border-radius: 30px;
    
}

.service h2{
    margin-top: 10px;
    text-align: center;
    color: blue;
    font-size: 40px;
    font-weight: 600;
}

.service{
    font-family: 'Poppins', sans-serif;
}

.service h4{
  margin-top: 30px;
}

  
  .single-data{
      margin-top: 20px;
      margin-left: 20px;
      box-shadow: 1px 1px 1px 1px rgb(83, 80, 80);     
      transition: all 0.3s ease-in-out;
    
      
   
  }

  .single-data:hover {
    box-shadow: 0 10px 50px 0 rgba(43, 40, 40, 0.5);
  }

  .single-data h3{
margin-top: 7px;
  }
  
  .all-data{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
  }
  .details-btn{
    background-color: rgb(41, 29, 141);
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    color: white;
}
  
  
  @media only screen and (max-width: 688px) {
    .all-data {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media only screen and (min-width:689px) and (max-width: 1200px){
    .all-data {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
}