.service-details-btn{
    width: 100px;
}
.single data img{
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 40px;
}

.buy-btn{
    width: 200px;
    height: 50px;
}

.details-data{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
}